.div{
    display: flex;
    position: absolute;
    background: linear-gradient(to
    top, white 0%, white 50%, rgb(157, 19, 19) 50%, rgb(184, 30, 30) 100%
    );
    border: 15px solid rgba(234, 185, 61, 0.862);
    border-radius: 10px;
    height: 450px;
    width: 300px;
    margin: 10px;
    left: 300px;
    box-shadow: 3px 3px 3px 3px rgba(14, 14, 14, 0.458);
}

.boton{
    display: flex;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 5px;
    border: 1px solid black;
    font-family: Insaniburger;
    margin: 5px;
    left: 88%;
}

.name{
    display: flex;
    position: absolute;
    left: 10px;
    font-family: Insaniburger;
    font-size: 20px;
}
.id{
    display: flex;
    position: absolute;
    top: 55%;
    font-size: 15px;
    left: 10px;
    font-family: Insaniburger;
}

.image{
    display: flex;
    position: absolute;
    top: 55px;
    left: 25%;
    margin: 10px;
    width: 45%;
}

.hp{
    display: flex;
    position: absolute;
    top: 75%;
    left: 80%;
    font-family: Insaniburger;
}
.attack{
    display: flex;
    position: absolute;
    top: 65%;
    left: 10px;
    font-family: Insaniburger;
}
.defense{
    display: flex;
    position: absolute;
    top: 65%;
    left: 35%;
    font-family: Insaniburger;
}
.speed{
    display: flex;
    position: absolute;
    top: 65%;
    left: 70%;
    font-family: Insaniburger;
}
.heigth{
    display: flex;
    position: absolute;
    top: 75%;
    left: 10px;
    font-family: Insaniburger;
}
.weigth{
    display: flex;
    position: absolute;
    top: 75%;
    left: 37%;
    font-family: Insaniburger;
}
.types{
    display: flex;
    position: relative;
    height: 25px;

    justify-content: center;
    align-items: center;
    text-align: center;
    top: 90%;
    margin: 10px;
    background-color: rgba(116, 114, 114, 0.829);
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: Insaniburger;
}
