.boton{
    background-color: rgba(234, 19, 19, 0.805);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    outline: none;
}

.div  button:hover{
    background-color: #fffffffa;
    color: rgb(192, 10, 10);
  }
.div button:active{
    background-color: rgb(244, 75, 112);
    color: azure;
  }